@charset "UTF-8";

.messageE_btn {
	color: #fff;
	background-color: #000;
	outline: 0;
	border: solid 1px #fff;
	padding: 10px 30px;
}

.messageE_btn:hover {
	color: #fff;
	background-color: #c30000;
	cursor: pointer;
}

.messageE_btn_div {
	text-align: center;
	padding: 30px;
}